@import url("variables.css");
@import url("config.css");
@import url("header.css");
@import url("separator.css");
@import url("animations.css");

.home__desc {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.hello__container {
  margin-left: 1.5rem;
}

.hello {
  font-size: clamp(2.8rem, 6vw, 5.4rem);
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 2rem;
}

.other__info {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 400;
  color: var(--main-color);
  letter-spacing: 0.05em;
}

.top__text {
  position: relative;
  width: fit-content;
  max-width: 17rem;
  margin-bottom: 1rem;
}

.top__text::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -1.5rem;
  width: calc(100% + 1.5rem);
  height: 2px;
  background-color: var(--accent-color);
}

.my__working--space {
  width: 100vw;
  height: 229px;
  background: url(../img/1678213461791-modified.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-block: 2px solid #c3073f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 3vw, 2.5rem);
  text-transform: uppercase;
  font-weight: 400;
}

.my__working--space__text {
  color: var(--main-color);
  margin-right: 2rem;
}

.my__working--space__animated {
  color: var(--accent-color);
}

.quote {
  display: block;
  margin: 3rem 0;
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 26px;
  padding: 0 1rem;
  text-align: center;
  text-transform: uppercase;
}

.projects {
  margin-bottom: 3rem;
}

.projects__p {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  line-height: 26px;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.projects__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 1rem;
  align-items: center;
}

.projects__container__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  align-items: center;
  max-width: 320px;
}

.projects__container__item__img {
  width: 100%;
  height: 400px;
  max-width: 800px;
  object-fit: cover;
  border-radius: 0.5rem;
  grid-row: 2/3;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.projects__container__item__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.project__nadmuchani {
  background-image: url("../img/desktop-page-nadmuchani.webp");
}

.project__fuelCalcs {
  background-image: url("../img/desktop-page.png");
  background-size: cover;
}

.projects__container__item__about {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  max-width: 800px;
}

.project__name {
  font-size: clamp(1.8rem, 3vw, 2.1rem);
  font-weight: 500;
  color: var(--accent-color);
  margin-bottom: 3rem;
}

.projects__item--about__text {
  font-size: clamp(1.2rem, 2vw, 1.35rem);
  font-weight: 400;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.projects__item--about__technologies {
  font-size: clamp(0.7rem, 1.6vw, 1rem);
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 1rem;
  display: flex;
  column-gap: 0.7rem;
}

.projects__item--about__links {
  display: flex;
  column-gap: 1rem;
}

.projects__item--about__links__link {
  color: var(--accent-color);
  margin-top: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 1.5rem;
  align-items: center;
  letter-spacing: 0.5px;
}

.about__p {
  font-size: clamp(1.1rem, 2vw, 1.45rem);
}

.about__item {
  max-width: 1100px;
}
.technologies {
  margin-bottom: 4rem;
}
.technologies__item:not(:first-child) {
  margin-top: 4rem;
}

.technologies__item__title {
  line-height: 26px;
  font-size: clamp(1.7rem, 2.5vw, 2.3rem);
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--accent-color);
}

.technologies__item__p {
  font-size: clamp(1.16rem, 2vw, 1.3rem);
  font-weight: 400;
  color: var(--main-color);
}

.technologies__my-picture--img {
  width: 100%;
  height: 300px;
  max-width: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
  grid-row: 2/3;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.technologies__my-picture {
  position: relative;
}

.technologies__my-picture::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: -1rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 3px solid var(--accent-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
}

.technologies__my-picture:hover::before {
  transform: translate(1rem, 1rem);
  -webkit-transform: translate(1rem, 1rem);
  -moz-transform: translate(1rem, 1rem);
  -ms-transform: translate(1rem, 1rem);
  -o-transform: translate(1rem, 1rem);
}

.fa-envelope {
  color: var(--accent-color);
}

.socials {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}

.socials__desc {
  font-size: clamp(1.45rem, 2.7vw, 1.7rem);
  font-weight: 400;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.socials__links {
  display: flex;
  column-gap: 1rem;
}

.email {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  column-gap: 1rem;
}

.copyright {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: clamp(1rem, 2.3vw, 1.4rem);
}

@media (min-width: 769px) {
  .home__desc {
    margin-top: 160px;
    flex-direction: row;
    justify-content: space-between;
  }

  .hello__container {
    margin-left: 3.5rem;
  }

  .top__text {
    max-width: 30rem;
    margin-bottom: 2rem;
  }
  .bottom__other {
    margin: 8rem 3rem 0 0;
    width: 45vw;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .my__working--space {
    display: none;
  }

  .particles {
    width: 45vw;
    height: 40vh;
  }

  .top__text::before {
    left: -3.5rem;
    width: calc(100% + 3.5rem);
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .projects__container {
    max-width: 1200px;
    margin-left: 0;
  }

  .projects__container__item {
    max-width: none;
  }

  .projects__container__item:hover .projects__container__item__img::before {
    background-color: rgba(0, 0, 0, 0);
  }

  .projects__container__item__about {
    grid-column: 2/3;
  }

  .projects__item--about__text {
    background-color: var(--bcg-secondary);
    padding: 1rem 1.2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 4px 4px 6px #1a1a1a;
  }

  .top__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  .about__p {
    line-height: 35px;
  }

  .about__item {
    position: relative;
    padding: 2rem 0;
  }

  .about__item::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -50vw;
    width: 150vw;
    height: 2px;
    background-color: var(--accent-color);
  }

  .technologies {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8rem;
  }

  .technologies__item__p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
  }

  .technologies__item__title {
    text-align: left;
    padding: 0;
  }
  .socials {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  .copyright {
    margin-top: 2rem;
  }
}
